/* This is my custom css file */

.bg-none {
    background-color: none !important;
}


.custom-link:hover {
    text-decoration: none !important;
}

@media (max-width: 576px) {
    .display-none {
      display: none;
    }
}

/* Custom css for filtering table rows */

#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 5px 20px 5px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

  .img-custom {
      width: 150px !important;
      height: 80px !important;
  }
